// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bg: #f6f6f6;
$blue: #056a7d;
$indigo: #6574cd;
$purple: #473358;
$pink: #f66d9b;
$red: #790808;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #35590c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$gray: #e9e9e9;
$cortitle: #282828;
$brown: #8b572a;
